.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# compiled output
dist
tmp

# dependencies
node_modules

# misc
typings
coverage
testem.log
npm-debug.log

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
